input.transparent-input, select.transparent-input, textarea.transparent-input{
	background-color:rgba(0,0,0,0) !important;
	border:none !important;
	box-shadow:none !important;
}

textarea.inline{
  resize: none !important;
  min-height: 20px !important;
  height: 20px;
}